html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

button {
  border: none;
  padding: 75px 75px;
  background: transparent;
  border: none !important;
  font-size:10;
  position: absolute;
  border-radius: 15px;
  cursor: pointer;
}

@font-face {
  font-family: pmFont;
  src: url("//db.onlinewebfonts.com/t/7201a7b79ef77544f06768280217c67f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7201a7b79ef77544f06768280217c67f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7201a7b79ef77544f06768280217c67f.woff") format("woff"), url("//db.onlinewebfonts.com/t/7201a7b79ef77544f06768280217c67f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7201a7b79ef77544f06768280217c67f.svg#Hey Gorgeous") format("svg");
}

p {
  text-align: right;
  font-family: pmFont;
  position: absolute;
  font-weight: bold;
  font-size: 64px;
}

.xC {
  font-size: 48px;
}

.counter {
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom left, violet, indigo, blue, green, yellow, orange, red);
}

#mHP {
  top: 272px;
  left: 64px;
}

#mFP {
  top: 450px;
  left: 64px;
}

#bHP {
  top: 1424px;
  left: 64px;
}

#mHPx {
  top: 288px;
  left: 216px;
}

#mFPx {
  top: 466px;
  left: 216px;
}

#bHPx {
  top: 288px;
  left: 1680px;
}

/*---------------------------Slidet-------------------*/

.slider  {
  appearance: none;
  width: 928px;
  height: 128px;
  background: url("hud/bar.png");
  position: absolute;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 128px;
  height: 128px;
  cursor: pointer;
}

/*
.slider::-moz-range-thumb {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
*/

#MarioHP {
  top: 16px;
  left: 0px;
}

#MarioHP::-moz-range-thumb {
  background: url("hud/heartMario.png");
}

#MarioHP::-webkit-slider-thumb {
  background: url('hud/heartMario.png');
}

#MarioFP {
  top: 134px;
  left: 0px;
}

#MarioFP::-moz-range-thumb {
  background: url("hud/flower.png");
}

#MarioFP::-webkit-slider-thumb {
  background: url('hud/flower.png');
}

#BowserHP {
  top: 16px;
  left: 960px;
}

#BowserHP::-moz-range-thumb {
  background: url("hud/heartBowser.png");
}

#BowserHP::-webkit-slider-thumb {
  background: url('hud/heartBowser.png');
}

/*---------------------------Button------------------------------*/

#bClaw {
  top: 575px;
  left: 525px;
}

#bStomp {
  top: 575px;
  left: 880px;
}

#bFire {
  top: 575px;
  left: 1235px;
}

#bWave {
  top: 875px;
  left: 525px;
}

#bShield {
  top: 875px;
  left: 880px;
}

#bHeal {
  top: 875px;
  left: 1235px;
}
